$brand-primary: #348049;
$brand-secondary: #ff588b;

$text-color: #333; // dark text
$text-light: #888;
$text-cream: #FFF8E8;
$text-highlight: #387780;

$background-color: #f9f9f9;
$background-light: #f2EFEA;
$background-dark: #2D2D2A;

$headings-font-weight: 300;

$border-radius-base: 0;