<header id="page-header">
  <section class="container">
    <section class="row">
    <section id="logo" class="col-xs-6">
      <a href="/">
        <!--<i class="fa fa-envira back fa-5x hidden-xs" aria-hidden="true"></i>-->
        <i class="fa fa-envira" aria-hidden="true"></i>
        <h1>WeScience</h1>
      </a>
    </section>
    <section class="col-xs-6">
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- 3 bar icon for opening navbar on mobile -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navToggle">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <!--<i class="fa fa-envira back fa-5x  hidden-sm hidden-md hidden-lg hidden-xl" aria-hidden="true"></i>-->
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navToggle">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link textLight btn-scroll" href="#home" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a>
                </li>
                <li>
                    <a class="nav-link textLight btn-scroll" href="#about" data-toggle="collapse" data-target=".navbar-collapse.in">About Us</a>
                </li>
                <li>
                    <a class="nav-link textLight btn-scroll" href="#login" data-toggle="collapse" data-target=".navbar-collapse.in">Login </a>
                </li>
                <li>
                    <a class="nav-link textLight btn-scroll" href="#signup" data-toggle="collapse" data-target=".navbar-collapse.in">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    </section>

  </section>
  </section>
</header>
