<div class="collapse navbar-collapse" id="navToggle">
    <ul id="logged-out" class="nav navbar-nav navbar-right">
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a href="#home">Home</a>
            </span>
        </li>
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a href="#about" >About Us</a>
            </span>
        </li>
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a data-toggle="modal" data-target="#loginModal">Login</a>
            </span>
        </li>
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a data-toggle="modal" data-target="#signUpModal">Sign Up</a>
            </span>
        </li>
    </ul>

    <ul id="logged-in" class="nav navbar-nav navbar-right">
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a href="/">Home</a>
            </span>
        </li>
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a href="/dashboard">Dashboard</a>
            </span>
        </li>
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a href="/profile/1" >Profile</a>
            </span>
        </li>
        <li>
          <span class="nav-link textLight btn-scroll" data-toggle="collapse" data-target=".navbar-collapse.in">
              <a id="log-out" href="/">Log out</a>
            </span>
        </li>
    </ul>
</div>
