{% extends "common/layout.html" %}
{% block body %}

<div class="container dashboard-page">
    <h1>The very beginning<br><small>A very good place to start</small></h1>

    <div class="clearfix">
        <a href="/new" class="btn btn-primary btn-lg pull-right">Create New Project</a>
    </div>

    <div class="dashboard-projects">
        <h2>Your Projects</h2>
        <div class="project-list">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Notifications</h3>
            <ul class="notifications">
                <i class="fa fa-spinner fa-spin"></i>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3>News and Articles</h3>
        </div>
    </div>
</div>

{% endblock %}
