<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hack 24</title>
    <base href="/">

  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://use.fontawesome.com/df8f2cb929.js"></script>


    <link href="{{ url_for('static', filename='css/production.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/production.js') }}" defer></script>

</head>
<body>

  <div id="skiptocontent">
  </div>
	
  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- 3 bar icon for opening navbar on mobile -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navToggle">
            <span class="icon-bar backLight"></span>
            <span class="icon-bar backLight"></span>
            <span class="icon-bar backLight"></span> 
        </button>
        <i class="fa fa-envira back fa-5x  hidden-sm hidden-md hidden-lg hidden-xl" aria-hidden="true"></i> 
      </div>
    </div>

		<div class="collapse navbar-collapse" id="navToggle">
      <i class="fa fa-envira back fa-5x hidden-xs" aria-hidden="true"></i>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link textLight btn-scroll" href="#home" data-toggle="collapse" data-target=".navbar-collapse.in" >Home</a></li>
        <li><a class="nav-link textLight btn-scroll" href="#about" data-toggle="collapse" data-target=".navbar-collapse.in" >About Us</a></li>
        <li><a class="nav-link textLight btn-scroll" href="#login" data-toggle="collapse" data-target=".navbar-collapse.in" >Login </a></li>
				<li><a class="nav-link textLight btn-scroll" href="#signup" data-toggle="collapse" data-target=".navbar-collapse.in" >Sign Up</a></li>
			</ul>
		</div>
  </nav>


  <div class="jumbotron" id='home'>
	</div>


  <div class="container backHL">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="textLight">Login</h3>
        <label class="textLight" for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
        <label class="textLight" for="pwd">Password:</label>
    	  <input type="password" class="form-control" id="pwd">
    	  <br>
    	  <button type="button" class="btn btn-success">Login</button>
      </div>
      <div class="col-sm-6">
        <h3 class="textHL">Sign Up</h3>
        <label class="textLight" for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
        <label class="textLight" for="usr">Email:</label>
        <input type="text" class="form-control" id="usr">
        <label class="textLight" for="pwd">Password:</label>
    	  <input type="password" class="form-control" id="pwd">
    	  <label class="textLight" for="pwd">Confirm Password:</label>
    	  <input type="password" class="form-control" id="pwd">
    	  <br>
    	  <button type="button" class="btn btn-info">Sign Up</button>
      </div>
    </div>
  </div>
  
</body>
</html>
