{% extends "common/layout.html" %}
{% block body %}
<div class="container profile-page">
    <div class="row">
        <div class="col-sm-4 pic bio">
            <img src="http://placehold.it/350x350" class="js-avatar-image img-responsive">
        </div>
        <div class="col-sm-4 bio">
            <h3>eLife Hack24</h3>
            <ul class="personal-details">
                <li><i class="fa fa-building"></i> <span class="js-institution"></span></li>
                <li><i class="fa fa-user"></i> <span class="js-position"></span></li>
                <li><i class="fa fa-envelope"></i> <span class="js-email"></span></li>
                <li><i class="fa fa-twitter"></i> <span class="js-twitter"></span></li>
            </ul>
        </div>
        <div class="col-sm-4 bio">
          <section>
            <h3>Bio</h3>
            <p>
              eLife is a 'not for profit' inspired by research funders and led
              by scientists, to help accelerate discovery by operating a
              platform for research communication
            </p>
          </section>
        </div>
    </div>

    <div class="row">
    <div class="profile-projects col-sm-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#public" aria-controls="public" role="tab" data-toggle="tab">Public Projects</a></li>
            <li role="presentation">
                <a href="#private" aria-controls="private" role="tab" data-toggle="tab">Private Projects</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="public">
                <div class="project-list-public">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="private">
                <div class="project-list-private">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 profile-publications">
      <h2>Publications</h2>
      <ul class="pub-list">
        <li><h3>Paper 1</h3></li>
        <li><h3>Paper 2</h3></li>
        <li><h3>Paper 3</h3></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
