{% extends "common/project-layout.html" %}
{% block body %}

<div class="container">
    <h1>Investigating the impact of bamboo farming on panda habitats</h1>
    <div class="project-documents">
        <h2>Project Documents</h2>
        <h3>Research Request</h3>
        <ul>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Initial research request.docx</a>
                <small>last updated 15th March 2017</small>
            </li>
        </ul>
        <h3>Hypothesis</h3>
        <ul>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Project Hypothesis Doc.docx</a>
                <small>last updated 15th March 2017</small>
            </li>
        </ul>
        <h3>Proposed Methodology</h3>
        <ul>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Initial baseline tests.docx</a>
                <small>last updated 15th March 2017</small>
            </li>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Review process.docx</a>
                <small>last updated 15th March 2017</small>
            </li>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Secondary tests.docx</a>
                <small>last updated 15th March 2017</small>
            </li>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Second review process.docx</a>
                <small>last updated 15th March 2017</small>
            </li>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Final experiment methodology.docx</a>
                <small>last updated 15th March 2017</small>
            </li>
            <li class="heading">Research Results</li>
            <li>
                <i class="fa fa-eye"></i>
                <a href="#">Data from Baseline Tests.xlsx</a>
                <small>last updated 15th March 2017</small>
            </li>
        </ul>
        <a href="#" class="btn btn-primary">Add new Document</a>
    </div>
    <div class="readme">
        <h1>Investigating the impact of bamboo farming on panda habitats</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
{% endblock %}