{% extends "common/project-layout.html" %}
{% block body %}

<div class="container">
    <h2>Commit List</h2>
    <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
    <ul class="commit-list">
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
        <li>
            <img src="http://www.mikeresoli.co.uk/static/img/avatar.png" class="img-rounded" width="40" height="40">
            <strong>15th March 2017</strong>
            <a href="#">James Bloggs</a>
            updated
            <a href="#">Project Hypothesis Doc.docx</a>
        </li>
    </ul>
    <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
</div>

{% endblock %}