<a class="project-stub" href="#">
    <h3>My First Project</h3>
    <i class="fa fa-anchor"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    <p>Created: 17th March 2017</p>
    <p>Last Update: 17th March 2017, 2:45pm</p>
</a>

<a class="project-stub" href="#">
    <h3>My Second Project</h3>
    <i class="fa fa-anchor"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    <p>Created: 17th March 2017</p>
    <p>Last Update: 17th March 2017, 2:45pm</p>
</a>

<a class="project-stub" href="#">
    <h3>My Third Project</h3>
    <i class="fa fa-anchor"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    <p>Created: 17th March 2017</p>
    <p>Last Update: 17th March 2017, 2:45pm</p>
</a>

<a class="project-stub" href="#">
    <h3>My Fourth Project</h3>
    <i class="fa fa-anchor"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    <p>Created: 17th March 2017</p>
    <p>Last Update: 17th March 2017, 2:45pm</p>
</a>