.textCenter{text-align: center;}

/*Shrinks navbar after scrolldown*/
.small #logoMob img{
    height: 50px;
    opacity: 0.7 !important;
}
.small li > a{
    line-height: 30px !important;
}
.small{
     background: rgba( 52, 128, 73, 0.7);
}

.modal-body{
	padding: 5vw;
}

.bg{
  background-image: url(../../static/img/home_background.jpg); 
  width: 100vw;
  height: auto;
  padding-right: 0;
  padding-left: 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}

#beakerAnimation {
	height: 65vh;
	width: 100vw;
}

.jumbotron{
    padding: 40px 0 20px 0;
}

.panel{
    margin: 0;
}

#container {
  height: 270px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  width: 248px;
}

#container div { position: absolute; }

#beaker {
  border: 10px solid #000;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 14px;
  bottom: 0;
  width: 200px;
}

#beaker:before,
#beaker:after {
  border: 10px solid #FFF;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -40px;
  width: 30px;
}

#beaker:before { left: -50px; }
#beaker:after { right: -50px; }

#liquid {
  background-color: #3C6;
  border: 10px solid #3C6;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 170px;
  overflow: hidden;
  width: 180px;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

@for $i from 1 through 7 {
  .bubble:nth-child(#{$i}) {
    left: random(180) * 1px;
    -webkit-animation-delay: random() * 30ms;
    -webkit-animation-duration: (random(10) + 3) * 100ms;
    -webkit-transform: scale((random(10) + 3)/10);
  }
}

#aboutus{
  padding-left: 3vh;
  padding-right: 3vh;
}

